#random{
    background-image: url('/img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    }

#random:after {
    content: '';
    background: transparent url(/img/pattern.png) repeat top left; 
}